<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    {{!-- it render the header file from partial folder so we can have fix header on each file --}}
    {{>header}}
    {{!-- <h2>{{title}}</h2> --}}
    <img class="portrait" src="./img/images.jpg">
    {{!-- <p> Created by {{name}}</p> --}}
    {{>footer}}
  </body>
</html>
